<html>
    <head>
        <title>Chat app</title>
        <script defer src = "http://localhost:8000/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script defer src = "client.js"></script>
    </head>
    <body>
        <div id = "room-container">
            <% Object.keys(rooms).forEach(room =>{ %>
                <div><%= room %></div>
                <a href = "/<%= room %>">Join</a>
            <% }) %>
        </div>
        <form action = "/room" method = "POST">
            <input type = "text" name = "room"/>
            <button type = 'submit'>New Room</button>
        </form>
    </body>
</html>